body {
  margin: 0px;
  text-align: center;
  font-family: "Baloo 2", cursive;
  color: #40514e;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 550%;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
}
.my-description {
  width: 40%;
  margin: 1rem auto 1rem auto;
}
hr {
  size: 0px;
  border-style: dotted;
  border-width: 12px;
  border-color: #eaf6f6;
  width: 10%;
  border-bottom: none;
  margin-top: 100px;
  margin-bottom: 100px;
}
h3 {
  font-family: "Merriweather", serif;
  color: #11999e;
}
a {
  color: #11999e;
}
.webDev {
  font-weight: normal;
}
.top-container {
  padding: 100px;
  background-color: #eaf6f6;
  position: relative;
  line-height: 2;
}
.middle-container {
  margin-top: 100px;
  padding: 10px;
}
.cloud-above {
  position: absolute;
  right: 300px;
  top: 50px;
}
p {
  line-height: 2;
}
.cloud-below {
  position: absolute;
  bottom: 400px;
  left: 300px;
}
.web {
  text-decoration: underline;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.football {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}
.coding {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 20px;
  margin-bottom: 0px;
  word-spacing: 2rem;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
}
a {
  color: #11999e;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
.copyright {
  color: #eaf6f6;
  word-spacing: normal;
  font-size: 0.8rem;
}

.myButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
  background-color: #11bcd4;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 29px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
.myButton:hover {
  background: linear-gradient(to bottom, #30e3cb 5%, #2bc4ad 100%);
  background-color: #30e3cb;
}
.myButton:active {
  position: relative;
  top: 1px;
}
